.faucet-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.faucet {
  width: 500px;
  height: auto;
  margin: 50px auto;
  text-align: center;
  overflow: hidden;
}
.faucet .info-account {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px auto 10px;
}
.info-account h1 {
  font-size: 18px;
}
.faucet .info-balance {
  margin: 30px auto;
}

.faucet .btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: auto;
}
